@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
:root{
/* Primary */

--Orange: hsl(26, 100%, 55%);
--Paleorange: hsl(25, 100%, 94%);

/* Neutral */

--Verydarkblue: hsl(220, 13%, 13%);
--Darkgrayishblue: hsl(219, 9%, 45%);
--Grayishblue: hsl(220, 14%, 75%);
--Lightgrayishblue: hsl(223, 64%, 98%);
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 0%,0.75);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans',sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    position: absolute;
    background-color: var(--White);
}
#left-nav,#right-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
#right-nav{
    width: 80px;
}
#profile{
    /* box-sizing: content-box; */
    max-width: 34%;
}
#left-nav img{
    margin: 0 0.5rem;
}
#nav-menu{
    background-image: url('./images/icon-menu.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    padding: 0.5rem;
    margin-top: 5px;
}
#profile:hover{
    border: 2px solid var(--Orange);
    border-radius: 50px;
}

/* mobile nav button toggle */
#mobileBar{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    background-color: white;
    width: 70%;
    padding: 1rem 1.5rem;
    z-index: 1;
    box-shadow: 15px 0 300px var(--Black);
}
ul{
    list-style-type: none;
}
li{
    margin: 1rem 0;
    font-weight: 800;
}
li a{
    text-decoration: none;
    color: var(--Verydarkblue);
}
#mobileBar > button{
    margin: 0.5rem 0;
    background-image: url('./images/icon-close.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 1rem;
    border: none;
}
/* add to cart */
#cartBtn{
    background-image: url('./images/icon-cart.svg');
    background-size: 1.13rem;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    padding: 0.7rem;
    margin-top: 5px;
}
.cartOrange{
    background-color: var(--Orange);
    color: white;
    position: absolute;
    top: 25%;
    right: 15%;
    font-size: 0.5rem;
    padding: 0 0.3rem;
    border-radius: 10px;
}
/* cart Items */
#empty{
    text-align: center;
    color: var(--Darkgrayishblue);
    padding: 4rem ;
}
.cartItems{
    display: none;
    position: absolute;
    top: 110%;
    right: 2%;
    background-color: white;
    max-width: 396px;
    width: 96%;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 5px 50px rgb(106, 103, 103);

    font-weight: 800;
}
.cartItems img{
    width: 45px;
    border-radius: 5px;
}
.cartItems > p:first-child{
    margin: 1rem 1rem 1.25rem;
}
.cartItems > div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.5rem 0;

}
.cartItems > div div{
    font-weight: 600;
    color: var(--Darkgrayishblue);
}
.cartItems div button{
    background-image: url('./images/icon-delete.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    margin-left: 0.5rem;
}
.cartItems > button:last-of-type{
    margin: 1rem 1rem 1.5rem;
    width: 90%;
    padding: 1rem 0.5rem;
    border: none;
    background-color: var(--Orange);
    font-size: 1rem;
    font-weight: 700;
    border-radius: 10px;
}
/* Product page */
#main-img,#lightimg{
    padding: 45%;
    background-image: url('./images/image-product-1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
.arrows{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    gap: 95%;
    position: absolute;
    top: 11em;
    left: 5%;
}
.arrows > img{
    background-color: white;
    padding: 10px 13px;
    border-radius: 100px;
}
#details{
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
#details p:first-of-type{
    font-weight: 700;
}
#details > p{
    color: var(--Darkgrayishblue);
    line-height: 1.5rem;
}
#prices{
    display: flex;
    align-items: center;
    gap: 1rem;
}
#prices p:first-child{
    font-size: 1.5rem;
}
#prices p:nth-child(2){
    font-size: 0.8rem;
    background-color: black;
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    margin-top: 5px;
}
#prices p:last-child{
     margin-left: auto;
     text-decoration: line-through;
     font-weight: 700;
     color: var(--Darkgrayishblue);
}
#quantity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Lightgrayishblue);
    padding: 1rem 1.2rem;
    border-radius: 10px;
}
#quantity > img:hover{
    filter: brightness(0) saturate(100%) invert(92%) 
    sepia(15%) saturate(506%) hue-rotate(315deg) 
    brightness(102%) contrast(101%);
    cursor: pointer;
}
#addcart{
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border: none;
    background-color: var(--Orange);
    border-radius: 10px;
}
#addcart:hover{
    background-color: var(--Paleorange);
    cursor: pointer;
}
#addcart > img{
    width: 1rem;
    filter: contrast(100);
}
span{
    font-size: 1.1rem;
    margin: 0 1rem;
    font-weight: 800;
}

.four-img,#lightbox{
    display: none;
}
@media screen and (min-width:432px){
    body{
        display: flex;
        justify-content: center;
    }
    main,nav{
        width: 75%;
    } 
    #profile{
      max-width: 25px;
    }
    .arrows{
        top: 15em;
      left: 16%;
      width: 60%;
    }
    #product-img{
        display: flex;
        flex-direction: column;
    }

}
@media screen and (min-width:770px){
    #nav-menu{
        display: none;
    }
    .arrows{
        display: none;
    }
    nav{
        position: static;
        width: 100%;
        padding-bottom: 0;
        align-items: center;
    }
    hr{
        opacity: 0.5;
        margin: 1rem 0;
    }
    #profile{
        max-width: 50%;
    }
    #mobileBar{
        display: block;
        position: static;
        box-shadow: none;
        min-height: 0;
        padding: 0;
    }
    #mobileBar > button{
        display: none;
    }
    ul{
        display: flex;
        gap: 0 1.5rem;
    }
    li a{
        color: var(--Grayishblue);
    }
    li a:hover{
        color: var(--Black);
    }
    li{
        position: relative;
        font-weight: 400;
    }
    nav a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2rem;
        width: 0%;
        height: 3px;
        background: hsl(26, 100%, 55%);
    }
    li a:hover::after {
        width: 100%;
        color: black;
    }
    .cartItems{
        top: 10%;
        right: 5em;
        box-shadow: -5px 25px 25px rgba(125, 125, 125, 0.397);
    }
    .cartOrange{
        top: 3.5%;
        margin-right: 1.75rem;
    }
    section{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 2rem;
        padding: 5rem 2rem;
    } 
    #product-img{
        width: 50%;
    }
    #main-img{
        border-radius: 25px;
    }
    #details{
        max-width: 40%;
    }
    .four-img{
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin: 2rem;
    }
    .four-img img{
        width: 100%;
        height: 100%;
        border-radius: 0.9rem;
    }
    .four-img img:hover{
        opacity: 0.7;
    }
    .active{
        opacity: 0.5;  
    }
    .clicked{
        border-radius: 1rem;
        border: 2px solid hsl(26, 100%, 55%);
    }
    #lightbox{
        position: absolute;
        top: 0;
        background-color: var(--Black);
        width: 100%;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    #lightbox > div{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 30%;
    }
    #lightbox-close{
        margin-left: auto;
    }
    #lightbox-close img:hover, .lightbox-arrows img:hover{
        filter: brightness(0) saturate(100%) invert(57%) 
        sepia(22%) saturate(4359%) hue-rotate(348deg) 
        brightness(101%) contrast(100%);
    }
    #lightimg{
        border-radius: 1rem;
        position: relative;
    }
    #fourlight-img{
        display: flex;
        gap: 2rem;
    }
    .lightbox-arrows{
        width: 31.5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 40%;
        left: 34%;
    }
    .lightbox-arrows div{
        padding: 0.5rem 0.85rem;
        background-color: white;
        border-radius: 100px;
    }
    .lightbox-arrows img{
        width: 10px;
    }
}
